---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import { Icon } from "astro-icon/components";
import { ShorterUrl } from "@components/ShorterUrl";


const user = Astro.locals.user 
---

<Layout
	title="Acortador de Link"
	description="Esta Aplicacion trata de solucionar el problema de las url super largas acortandolas"
>
	<!-- Main Content -->
	{
		user ? (
			<>
				<Section title={`Bienvenido ${user.username}`} body={`Hola, aqui puedes comenzar a acortar tus links ${user.username}`} >
				<ShorterUrl userID={user.id} client:load />
			</Section>
			</>
		) : (
			<Section
				title="Bienvenido"
				body="Por favor!, inicia sesion para poder acortar tus links"
			>
				<div class="my-4 ">
					
					<a href="/api/auth/google">
						<button class="bg-slate-100 p-2 rounded-full text-slate-800 hover:text-[#db4437]">
							<Icon name="mdi:google" class="h-6 w-auto" />
						</button>
					</a>
				</div>
			</Section>
		)
	}
</Layout>
