<!-- Footer -->
	<footer class="text-center my-4">
		<p class="text-sm">
			Hecho con ❤️ por <a
				href="https://github.com/SteveMoya"
				class="text-blue-500">Steve Moya</a
			>
		</p>
	</footer>
	<!-- End Footer -->