---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

const user = Astro.locals.user;

const NavItems = [
    {
        name: "Acortador de Link",
        href: "/",
        icon: "line-md:clipboard-list",
        class: "text-2xl font-bold",
    },
    {
        name: "Mis Links",
        href: "/mis-links",
        icon: "line-md:clipboard-list",
        class: "text-lg",
    },
    {
        name: "Estadisticas",
        href: "/estadisticas",
        icon: "line-md:speedometer",
        class: "text-lg",
    },
];
---

<!-- NavBar -->
<header>
    {
        user && (
            <nav class="flex justify-between items-center mt-4 mx-4">
                {NavItems.map((item) => (
                    <a href={item.href} class={item.class}>
                        <Icon name={item.icon} class="inline-block mb-1" />
                        {item.name}
                    </a>
                ))}

                <div>
                    <div class="flex items-center w-[100px] cursor-pointer gap-2 my-4 relative group mix-w-[100px]">
                        <div>
                            <Picture
                                class="w-8 h-8 rounded-full"
                                src={user.userimage || ""}
                                alt={
                                    user.username || "Error a cargar la imagen"
                                }
                                inferSize
                            />
                        </div>
                        <Icon name="line-md:chevron-down" />
                        <div class="absolute hidden top-[110%] right-3 group-hover:flex group-focus:flex flex-col bg-slate-800 p-2 rounded-md gap-2 mx-10 w-max">
                            <span class="text-sm font-semibold ">
                                {user.username.slice(0, 10)}
                            </span>
                            <hr />
                            <a
                                href="/api/auth/singout"
                                class="text-sm font-semibold"
                            >
                                Cerrar Sesion
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        )
    }
</header>
<!--End NavBar -->
